body {background-color:yellow}
#button1 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 20%;
    height:50px;
    color: blue;
}
#fortune-cookie-text {
    background: red;
    padding: 20px; 
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;

}
#title{
    font-size: 30px;
    margin-left: 40%;
    margin-right: 40%;
    font-family: times;
}
