body {background-color:white}
#button1 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 20%;
    height:50px;
    color: green;
}
#fortune-cookie-text {
    background:green;
    padding: 20px; 
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;

}
#title{
    font-size: 30px;
    margin-left: 40%;
    margin-right: 40%;
    font-family: times;
    color:green;
}

