body {background-color:yellow}
#button1 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 20%;
    height:50px;
    color: blue;
}
#fortune-cookie-text {
    border-radius: 25px;
    background: red;
    padding: 20px; 
    width: 20%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;    
}
